<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
			  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
	</settings>

	<!--db provider配置文件路径-->
	<providers resource="providers.config"/>

	<!--db provider类型及连接串-->
	<database>
		<provider name="PostgreSql0.7" />
		<dataSource name="oracle" connectionString="Host=192.168.0.88;Username=manager;Password=postgres;Database=lottery;Port=5504" />
	</database>

	<!--db与Entity的映射文件-->
	<sqlMaps>
		<sqlMap resource="Mapper/ProductMap.xml"/>
		<sqlMap resource="Mapper/cz_users_mapper.xml"/>
	</sqlMaps>

</sqlMapConfig>